body {
    padding: 0;
    margin: 0;
    background-color: #2682FF;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2682FF;
    text-align: center;
}

.login-form {
    width: 300px;
    margin: auto;
    padding: 80px;
    background-color: white;
    border-radius: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 20%;
}

#username, 
#email, 
#password, 
#confirm-password {
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 5px auto 5px auto;
    border: 0px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button {
    width: 107%;
    padding: 10px;
    margin: 5px auto 5px auto;
    border: 0px;
    border-radius: 20px;
    color: white;
    background-color: #2682FF;
}

button:hover {
    background-color: #1167b1;
}