<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style-admin.css">
    <title>Automated Paid Promote Validation</title>
</head>
<body>
    <h1>Automated Paid Promote Validation</h1>
    <div class="login-form">
        <h2>Admin Page</h2>
        <form action="/create" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name"></label>
                <input type="text" name="eventName" id="name" placeholder="Nama" required>
            </div>
            <div>
                <label for="screenshot"></label>
                <input type="file" name="feedImage" id="screenshot" required>
            </div>
            <div>
                <label for="caption"></label>
                <textarea name="caption" id="caption" cols="30" rows="10" placeholder="Caption" required></textarea>
            </div>
            <div>
                <label for="start" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #757575;">Jam Mulai</label>
                <input type="date" name="startDate" id="start" required>
            </div>
            <div>
                <label for="end" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #757575;">Jam Berakhir</label>
                <input type="date" name="endDate" id="end" required>
            </div>
            <div>
                <label for="maxUploaded">Jumlah gambar peserta</label>
                <input type="number" name="maxUploadedImagesByParticipant" id="name" placeholder="Jumlah gambar peserta" min="1" required>
            </div>
            <div>
                <button type="submit" id="button">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>