<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style-user.css">
    <title>Automated Paid Promote Validation</title>
</head>
<body>
    <h1>Automated Paid Promote Validation</h1>
    <div class="login-form">
        <h2>User Page</h2>
        <form action="?" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nama" required>
            </div>
            <div>
                <label for="nim"></label>
                <input type="text" name="NIM" id="nim" placeholder="Nomor Induk Mahasiswa" required>
            </div>
            <div>
                <label for="nim"></label>
                <input type="text" name="usernameIG" id="nim" placeholder="Username IG" required>
            </div>
            <div>
                <label for="nim"></label>
                <input type="text" name="email" id="nim" placeholder="alamat email" required>
            </div>
            <div>
                <label for="sie"></label>
                <input type="text" name="sie" id="sie" placeholder="Sie" required>
            </div>
            <div>
                <label for="screenshot"></label>
                <input type="file" name="participantImage" id="screenshot" required>
            </div>
            <div>
                <button type="submit" id="button">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>